$colorAccentPrimary: #2196F3;
$colorAccentSecondary: #188CE8;
$colorAccentOpacity: rgba(33, 150, 243, 0.9);
$colorWhitePrimary: #FFFFFF;
$colorWhiteSecondary: #F5F4FA;
$colorPrimaryBlack: #000000;
$colorTitle: #212121;
$colorText: #757575;
$colorAboutBox: rgba(47, 48, 58, 0.8);
$colorBackdrop: rgba(0, 0, 0, 0.2);
$colorBackgraundIcon: rgba(255, 255, 255, 0.1);
$colorFooterContact: rgba(255, 255, 255, 0.6);
$colorFooterInput: rgba(255, 255, 255, 0.3);
$colorBorderPortfolioCard: #EEEEEE;
$shadowButton: 0px 4px 4px rgba(0, 0, 0, 0.15);
$shadowPortfolioCard: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$shadowButtonSet: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$shadowBox: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$colorHeaderLine: #ECECEC;
$colorBackgraundHero: #C4C4C4;
$colorBackgraundFooter: #2F303A;
$colorGradient: rgba(47, 48, 58, 0.4);
$colorIcon: #AFB1B8;
$colorBorderInput: rgba(33, 33, 33, 0.2);
$colorBorderCloseButton: rgba(0, 0, 0, 0.1);
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);