.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: $colorBackgraundHero;
    background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/svg-and-bj/herobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $colorWhitePrimary;
}

.hero__button {
    @extend %button;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color $duration $timingFunction;

        &:hover, &:focus {
            background-color: $colorAccentSecondary;
        }
}