.hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $colorBackgraundHero;
    background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-mobile@2x.jpg);
    }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
    .hero {
        background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-tablet@1x.jpg);
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-tablet@2x.jpg);
            }
        }
}

@media screen and (min-width: $desktop) {
    .hero {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-desktop@1x.jpg);
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right, $colorGradient, $colorGradient), url(..//../images/hero-desktop@2x.jpg);
            }
        }
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $colorWhitePrimary;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    @extend %button;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color $duration $timingFunction;

        &:hover, &:focus {
            background-color: $colorAccentSecondary;
        }
}