.section {
    padding: 60px 0 60px 0;
    background-color: $colorWhitePrimary;
}

.section--bgr-grey {
    background-color: $colorWhiteSecondary;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.about {
    @media screen and (max-width: 1190px) {
        display: none;
    }
}

.section--no-padding {
    padding-top: 0;
}